.welcome {
    text-align: center;
    position: relative;
    padding-top: 12px;

    h3 {
        color: #225779;
        font-size: 30px;
        font-weight: 600;
        line-height: 40px;

    }
}
.choose{
    text-align:center;
   

    select{
        padding-right: 202px;
        padding-left: 16px;
        padding-top: 8px;
        padding-bottom: 8px;
    }
}