.contentwidth{
    max-width: 1440px;
    margin:0 auto;
    position: relative;
}
.bgImg{
    @media(max-width:768px){
        background-position: 100%;
        padding-bottom: 164px;
        background-position: -15px center;
    }
    
}


// ========================================Hero section responsive =======================================

@media(max-width:768px){
   
}